/*Обнуленя*/
*{padding: 0;margin: 0;border: 0; scroll-behavior: smooth;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*---#7a3434-----<?php echo get_template_directory_uri ();?>/---------*/

.main__block {
    max-width: 100%;
    width: 100%;
    height: 750px;
/*  background-image: url("img/background.png");*/
    background-color: #7a3434;
    background-size: cover;
    z-index: 0;
}
.main__block__container{
    max-width: 1230px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.box{
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box img{
    width: 190px;
    height: 26px;
    position: relative;
    z-index: 5;
}
.list{
    height: 60px;
    position: relative;
    z-index: 4;   
    opacity: 0.74;
    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
}
/*
.scroll{
    display: inline-block;
    width: 50px;
    text-decoration: none;
}
.list, .sc{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.sc{
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.sp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}*/
li a{
    color: #ffffff;    
}
li a:active{
    color: rgb(114, 25, 155);
}
.list li:hover{
    text-shadow: 2px 2px 10px #c0c0c0;
}
li+li{
    margin-left: 55px;
}
.title{
    font-family: 'Open Sans';
    font-size: 104px;
    line-height: 71px;
    font-weight: 700; 
    margin: 0 auto;
    padding-top: 150px; 
    text-transform: uppercase;
    text-shadow: -5px -5px 0px #21617a;
    background: radial-gradient(#9DA8A9 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
.text{
    font-family: Raleway;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    
    padding: 40px 0 70px 0;
}
.info{
    max-width: 100%;
    width: 100%;
    height: 1560px;
    position: relative;
    translate: (-50%, -50%);
}
.info__title{
    width: 200px;
    font-family: Raleway;
    font-weight: 700;
    padding: 20px 0;
    letter-spacing: 0.2em;
    border: 2px solid;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    margin: 60px auto;
}
.container__img{
    max-width: 100%;
    width: 100%;
    margin-top: 40px; 
}
.half__container__img{    
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.half__container__img__item{
    width: 25%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.half__container__img__item:hover .block__text{
    opacity: 1;
}
.block__text{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(168, 47, 47, 0.849);
    opacity: 0; 
    left: 0;
    top: 0;  
    transition: all .2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.item__title{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 10px;
}
.item__text{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #ffffff;
    padding: 0 10px;
}
.first::before{
    content: "1";
    font-size: 19px;
    padding-right: 10px;
}
.second::before{
    content: "2";
    font-size: 19px;
    padding-right: 10px;
}
.third::before{
    content: "3";
    font-size: 16px;
    padding-right: 10px;
}
.fourth::before{
    content: "4";
    font-size: 17px;
    padding-right: 10px;
}
.fifth::before{
    content: "5";
    font-size: 17px;
    padding-right: 10px;
}
.sixth::before{
    content: "6";
    font-size: 17px;
    padding-right: 10px;
}
.seventh::before{
    content: "7";
    font-size: 17px;
    padding-right: 10px;
}
.eighth::before{
    content: "8";
    font-size: 17px;
    padding-right: 10px;
}
.item1{
    background-image: url("img/2/bigdata.jpg");
}
.item2{
    background-image: url("img/2/software.jpeg");
}
.item3{
    background-image: url("img/2/design.jpg");
}
.item4{
    background-image: url("img/2/AI.jpg");
}
.item5{
    background-image: url("img/2/cloud.png");
}
.item6{
    background-image: url("img/2/cybersecurity.jpg");
}
.item7{
    background-image: url("img/2/vr.png");
}
.item8{
    background-image: url("img/2/robotics.jpg");
}
.half__container__img__item + .half__container__img__item{
    margin-bottom: 2px;
    margin-left: 2px;
}
.container__of__people{
    max-width: 1200px;
    width: 100%;
    height: 585px;
    margin: 100px auto 0 auto;
    position: relative;
    translate: (-50%, -50%);
}
.container__of__people__title{
    width: 200px;
    font-family: Raleway;
    font-weight: 700;
    padding: 20px 0;
    letter-spacing: 0.2em;
    font-family: Open Sans;
    font-weight: 700;
    border: 2px solid;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.container__of__people__inner{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.container__of__person{
    max-width: 20%;
}
.container__of__person img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.name{
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #2d3033;
}
.about__of__person{
    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
    padding: 10px 0 20px 0;
}
.under__text{
    font-family: Raleway;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c7279;
    padding-bottom: 20px;
}
.container__of__social__newtworks{
    width: 130px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}
.facebook{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e8ecee; 
    transition: all .2s linear; 
}
.facebook i{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 18px;
    color: #c6cacc;
}
.facebook i:hover{
    color: #ffffff;
}
.facebook:hover{
    background: linear-gradient(0deg, rgba(34,110,195,1) 0%, rgba(45,126,253,1) 67%);
    border: 1px solid rgb(23, 101, 245);
    box-shadow: 2px 2px 8px 2px rgb(14, 60, 146);
}
.twitter{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    transition: all .2s linear;
}
.twitter i{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 18px;
    color: #c6cacc;    
}
.twitter i:hover{
    color: rgb(45,126,253);
}
.twitter:hover{
    box-shadow: 2px 2px 10px #e0e0e0;
}
.linkedin{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    transition: all .2s linear;
}
.linkedin i{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 18px;
    color: #c6cacc;     
}
.linkedin:hover{
    background-color: rgb(32, 94, 194);
    border: 1px solid rgb(23, 101, 245);
    box-shadow: 2px 2px 8px 2px rgb(14, 60, 146);
}
.linkedin i:hover{
    color: #ffffff;
}

.partners p{
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #636363;
    text-align: center;
    padding-top: 40px;
}
.partners__container{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}
.partners__container__first{
    display: flex;
    flex-direction: column;
}
.partners__container__second{
    display: flex;
    flex-direction: column;   
}
.partners__container__third{
    display: flex;
    flex-direction: column;      
}
.partners__container__fourth{
    display: flex;
    flex-direction: column;      
}
.icon1{
    width: 140px;
    height: 70px;
    margin-bottom: 10px;
}
.icon2{
    width: 140px;
    height: 70px;   
    margin-bottom: 10px;
}
.icon3{
    width: 140px;
    height: 100px;
    margin-bottom: 10px;
}
.icon4{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px;
}
.icon5{
    width: 140px;
    height: 70px;  
}
.icon6{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px;    
}
.icon7{
    width: 140px;
    height: 70px;  
    margin-bottom: 20px;     
}
.icon8{
    width: 140px;
    height: 70px;  
    margin-bottom: 30px;       
}
.icon9{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px; 
}
.icon10{
    width: 140px;
    height: 70px;  
}
.icon11{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px; 
}
.icon12{
    width: 140px;
    height: 70px;  
    margin-bottom: 20px;    
}
.icon13{
    width: 140px;
    height: 70px;  
    margin-bottom: 25px;    
}    
.icon14{
    width: 140px;
    height: 70px;  
    margin-bottom: 30px;     
}
.icon15{
    width: 140px;
    height: 40px;     
}
.icon16{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px; 
}
.icon17{
    width: 140px;
    height: 70px;  
    margin-bottom: 20px;     
}
.icon18{
    width: 140px;
    height: 70px;  
    margin-bottom: 30px;    
}
.icon19{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px;     
}
.icon20{
    width: 140px;
    height: 70px;  
    margin-bottom: 10px;     
}

/*-------------CONTACT BLOCK---------------*/
.contact{
    width: 100%;
    height: 400px;
}
.block__contact{
    width: 520px;
    height: 300px;
    background: linear-gradient(45deg, rgb(16, 197, 156) 34%, rgb(30, 164, 212) 86%);
    margin: 50px auto 0 auto;

}
.text__inner__block{
    font-family: Raleway;
    font-weight: 700;
    font-size: 66px;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 20px;
}
.btn{
    width: 280px;
    height: 54px;
    background-color: #000;
    font-family: Raleway;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    transition: all .2s linear;
}
.btn:hover{
    box-shadow: 0px 9px 23px 15px rgba(34, 60, 80, 0.3); 
}
/*------^^-----CONTACT BLOCK------^^-------*/


/*-------------CONTACT FORM---------------*/

.second__page{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(75,7,223,1) 28%, rgba(165,9,191,1) 58%, rgba(255,141,0,1) 91%);
    background: -moz-linear-gradient(45deg, rgba(75,7,223,1) 28%, rgba(165,9,191,1) 58%, rgba(255,141,0,1) 91%);
    background: linear-gradient(45deg, rgba(75,7,223,1) 28%, rgba(165,9,191,1) 58%, rgba(255,141,0,1) 91%);
}
.contact__form__title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 46px;  
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(32, 32, 32, 0.808);

    margin-top: 50px;
}
.line{
    width: 140px;
    height: 2px;
    background-color: rgb(255, 255, 255);

    margin: 10px auto;
}
form{
    width: 600px;
    height: 305px;
    background-color: #fff;
    margin: 30px auto 0 auto;
    box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.26);
}
input+input{
    margin-top: 15px;
}
.form__container{
    width: 500px;
    height: 380px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.form__container__left{
    max-width: 50%;
    display: flex;
    flex-direction: column;   
}
.form__container__left .item{
    width: 200px;
    height: 30px;
    background: none;
    border: 2px solid rgba(26, 25, 25, 0.801);
}
form input::placeholder{
    font-family: Raleway;  
    text-transform: uppercase;
}  
.form__container__inputs{
    width: 500px;
    margin-top: 15px;
}
.form__container__inputs input{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.form__container__inputs label{
    font-family: Raleway;
    font-weight: 400;
}
textarea{
    width: 230px;
    height: 75px;
    font-family: Raleway;
    text-transform: uppercase;
    border: 2px solid rgba(26, 25, 25, 0.801);    
}
.form__container__right__inner p{
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px 0 15px 0;
}
.form__container__right__inner select{
    width: 230px;
    height: 30px;
    font-family: Raleway;
    font-weight: 700;
    border: 2px solid rgba(26, 25, 25, 0.801);   
}
.form__container__right__inner option{
    font-weight: 700;    
}
.btn__submit{
    width: 240px;
    height: 50px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    transition: all .1s linear;
    margin-top: 10px;
}
.btn__submit:hover{
    box-shadow: 0px 9px 23px 15px rgba(34, 60, 80, 0.3);
}
.footer__contact__form__author{
    width: 100%;
    height: 40px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(15, 15, 15);
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------^^-----CONTACT FORM----^^-----------*/

/*---------------ABOUT US---------------*/

header{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);
    background: -moz-linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);
    background: linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);   
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__container{
    display: flex;
    flex-direction: column;
}
.squar{ 
    width: 150px;
    height: 200px;
    background-color: #000;
    box-shadow: 0px 7px 20px 2px #000;
    position: absolute;
    z-index: 0;
    margin-right: 300px;
}
.header__title{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 68px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 6;

    padding: 380px 0 0 300px;
}
.header__line{
    width: 50px;
    height: 2px;
    background-color: rgb(231, 231, 231);
    display: flex;
    margin: 10px 518px 0 auto;
}
.header__text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 28px;
    color: #fff;

    padding: 5px 0 0 440px;
}
.header__text span{
    font-family: Poppins;
    font-weight: 900;    
}
main{
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container{
    flex-direction: column;
}
.projects{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
    line-height: 0.9;
    color: rgb(245, 177, 50);
    padding-left: 60px;
}
.projects span{
    font-family: Poppins;
    font-weight: 900;
    font-size: 146px;
    color: #000;
}
.projects::before{
    content: "";
    background-image: url("https://www.softserveinc.com/cdn/img/about-us/polygon-1.svg");
    position: relative;
    z-index: 6;
}
main .projects{}
/*
.main__line{
    width: 3px;
    height: 400px;
    background-color: #000;
    position: absolute;
    z-index: 0;   
}*/
.workers{
    font-family: Poppins;
    font-weight: 900;   
    font-size: 146px;
    line-height: 0.4;
    color: #000; 
    padding-left: 60px; 
    padding-top: 80px;
}
.workers span{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
    color: rgb(116, 206, 138);  
}

/*-------^^------ABOUT US------^^-------*/

/*----------------FOOTER----------------*/

footer{
    width: 100%;
    height: 400px;
    background-color: rgb(15, 15, 15);
}
.footer__container{
    max-width: 900px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
}
.footer__container__contact__title{
    font-family: Open Sans;
    font-size: 34px;
    text-transform: uppercase;
    color: rgb(224, 224, 224);
}
.under__line{
    width: 400px;
    height: 2px;
    background-color: rgb(196, 196, 196);

    margin: 10px 0 20px 0;
}
.hq__usa__name{
    font-family: Open Sans;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(184, 184, 184);
    padding-bottom: 20px;
}
.hq__container .list__item + .list__item{
    padding-top: 10px;
}
.list__item{
    font-family: Open Sans;
    font-size: 14px;
    color: rgb(184, 184, 184);
}
.hq__container{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.hq__ukraine__name{
    font-family: Open Sans;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(184, 184, 184);
    padding-bottom: 20px;
}
.footer__container__popular__title{
    font-family: Open Sans;
    font-size: 34px;
    text-transform: uppercase;
    color: rgb(224, 224, 224);   
}
.footer__container__popular .under__line{
    width: 300px;
    height: 2px;
    background-color: rgb(196, 196, 196);

    margin: 10px 0 20px 0;
}
.footer__container__list{
    display: flex;
}
.footer__container__list a + a{
    padding-left: 26px;
}
.footer__container__socnet{
    width: 300px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(196, 196, 196);
    padding: 10px 20px;
    margin-top: 20px;
    flex-direction: column;
}
.socnet__title{
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(196, 196, 196);
    text-align: center;
    padding-bottom: 15px;
}
.socnet__box{
    display: flex;
    justify-content: space-between;
}
.footer__icon i{
    font-size: 26px;
    color: rgb(196, 196, 196);
}
.author{
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    color: rgb(196, 196, 196);
    text-align: center;
    padding-top: 80px;
}

/*-------^^-------FOOTER------^^--------*/


/*----------------SIGN UP----------------*/

.sign__up__body{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);
    background: -moz-linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);
    background: linear-gradient(45deg, #d68c30 20%, #c460d5 58%, #782bde 91%);   
}
.sign__up__title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 46px;  
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(32, 32, 32, 0.808);

    padding: 50px 0 20px 0;    
}
.sign__up__form{
    width: 450px;
    height: 300px;
    display: flex;
    margin: 0 auto; 
    position: relative;
    z-index: 0;
}
.sign__up__container{
    width: 400px;
    display: flex;
    margin: 20px auto 0 auto;
    flex-direction: column;    
}
.sign__up__container__inner input{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: column; 
} 
.sign__up__container__inner input::placeholder{
    font-size: 14px;
}
.access{
    padding-top: 20px;
}   
.btn__sign__up{
    width: 240px;
    height: 50px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    
    margin-top: 250px;
    position: absolute;
    z-index: 5;
    transition: all .1s linear;
}
.btn__sign__up:hover{
    box-shadow: 0px 9px 23px 15px rgba(34, 60, 80, 0.3);
}

/*-------^^-------SIGN UP------^^--------*/

/*
@media (max-width: 1430px) {
    .main__block{
        
    }
    .info{
        max-width: 100%;
        width: 100%;
    }
    .slide{
        max-width: 100%;
        width: 100%;
    }
    .download{
        max-width: 100%;
        width: 100%; 
    }
    .footer__info{
        max-width: 100%;
        width: 100%;
    }
    .footer{
        max-width: 100%;
        width: 100%; 
    }
}
@media (max-width: 1200px) {
    .main__block{
        max-width: 100%;
        width: 100%;
    }
    .list li{
        width: 20%;
    }
    .info{
        max-width: 100%;
        width: 100%;
    }
    .info__box{
        max-width: 100%;
        width: 100%;
    }
    .container__item{
        width: 16%;
    }
    .slide{
        max-width: 100%;
        width: 100%;
    }
    .download{
        max-width: 100%;
        width: 100%;
    }
    .footer__info{
        max-width: 100%;
        width: 100%;
    }
    .footer{
        max-width: 100%;
        width: 100%;
    }
}*/
